In [95]:
import pandas as pd

In [96]:
import numpy as np

In [97]:
from tensorflow import keras

In [98]:
import tensorflow as tf

In [99]:
iris=pd.read_csv("datasets_19_420_Iris.csv",sep=',')

In [100]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [101]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [102]:
iris.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [103]:
findl=["Iris-setosa","Iris-versicolor","Iris-virginica"]
replacel=[0,1,2]

In [104]:
iris['Species']=iris['Species'].replace(findl,replacel)
#Here Iris-setosa , Iris-versicolor,Iris-virginica are changed to 0,1,2 respectively for to build the network

In [105]:
iris.describe()

               Id  SepalLengthCm  ...  PetalWidthCm     Species
count  150.000000     150.000000  ...    150.000000  150.000000
mean    75.500000       5.843333  ...      1.198667    1.000000
std     43.445368       0.828066  ...      0.763161    0.819232
min      1.000000       4.300000  ...      0.100000    0.000000
25%     38.250000       5.100000  ...      0.300000    0.000000
50%     75.500000       5.800000  ...      1.300000    1.000000
75%    112.750000       6.400000  ...      1.800000    2.000000
max    150.000000       7.900000  ...      2.500000    2.000000

[8 rows x 6 columns]

In [106]:
features=iris.drop("Species",axis=1)

In [107]:

target=iris["Species"]

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
X_train,X_test,y_train,y_test=train_test_split(features,target,test_size=0.2,stratify=target,random_state=42)

In [110]:
from sklearn.preprocessing import StandardScaler

In [111]:
scaler=StandardScaler()

In [112]:
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [113]:
X_train=scaler.transform(X_train)

In [114]:
X_test=scaler.transform(X_test)

In [115]:
features.shape

(150, 5)

In [116]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [117]:
model=Sequential()

In [118]:
model.add(keras.layers.Dense(50,activation="relu",input_shape=(5,)))
model.add(keras.layers.Dense(128,activation="relu"))
model.add(keras.layers.Dense(3))

In [119]:
model.compile(optimizer="adam",loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),metrics=["accuracy"])

In [120]:
model.fit(X_train,y_train,epochs=25)

Epoch 1/25
4/4 [==============================] - 0s 3ms/step - loss: 1.0557 - accuracy: 0.5000
Epoch 2/25
4/4 [==============================] - 0s 3ms/step - loss: 0.8793 - accuracy: 0.7583
Epoch 3/25
4/4 [==============================] - 0s 2ms/step - loss: 0.7413 - accuracy: 0.8333
Epoch 4/25
4/4 [==============================] - 0s 2ms/step - loss: 0.6311 - accuracy: 0.8500
Epoch 5/25
4/4 [==============================] - 0s 3ms/step - loss: 0.5518 - accuracy: 0.8500
Epoch 6/25
4/4 [==============================] - 0s 3ms/step - loss: 0.4876 - accuracy: 0.8500
Epoch 7/25
4/4 [==============================] - 0s 3ms/step - loss: 0.4374 - accuracy: 0.8583
Epoch 8/25
4/4 [==============================] - 0s 3ms/step - loss: 0.3950 - accuracy: 0.8667
Epoch 9/25
4/4 [==============================] - 0s 3ms/step - loss: 0.3609 - accuracy: 0.8667
Epoch 10/25
4/4 [==============================] - 0s 3ms/step - loss: 0.3314 - accuracy: 0.8750
Epoch 11/25
4/4 [==============================] - 0s 3ms/step - loss: 0.3052 - accuracy: 0.8917
Epoch 12/25
4/4 [==============================] - 0s 3ms/step - loss: 0.2816 - accuracy: 0.9250
Epoch 13/25
4/4 [==============================] - 0s 3ms/step - loss: 0.2587 - accuracy: 0.9333
Epoch 14/25
4/4 [==============================] - 0s 3ms/step - loss: 0.2424 - accuracy: 0.9417
Epoch 15/25
4/4 [==============================] - 0s 3ms/step - loss: 0.2237 - accuracy: 0.9417
Epoch 16/25
4/4 [==============================] - 0s 3ms/step - loss: 0.2086 - accuracy: 0.9417
Epoch 17/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1946 - accuracy: 0.9417
Epoch 18/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1813 - accuracy: 0.9417
Epoch 19/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1700 - accuracy: 0.9417
Epoch 20/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1591 - accuracy: 0.9417
Epoch 21/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1498 - accuracy: 0.9417
Epoch 22/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1402 - accuracy: 0.9417
Epoch 23/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1319 - accuracy: 0.9500
Epoch 24/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1238 - accuracy: 0.9667
Epoch 25/25
4/4 [==============================] - 0s 3ms/step - loss: 0.1169 - accuracy: 0.9667

In [121]:
probability_model=tf.keras.Sequential([model,tf.keras.layers.Softmax()])

In [122]:
prediction=probability_model.predict(X_test)

In [127]:
z=int(input("Enter a row number between 0 to 29"))

Enter a row number between 0 to 2929

In [128]:
prediction[z]

array([9.9731952e-01, 2.4863901e-03, 1.9409118e-04], dtype=float32)

In [129]:
p=np.argmax(prediction[z])

In [130]:
if(p==0):
  print("Iris-setosa")
if(p==1):
  print("Iris-versicolor")
if(p==2):
  print("Iris-virginica")

Iris-setosa